.dark {
  background-color: black;
  color: white;
}

.dark > a > button {
  background-color: blue;
  color: white;
}

.dark > form > button {
  background-color: blue;
  color: white;
}
#clickerBtn {
  height: 200px;
  line-height: 200px;
  width: 200px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  border: solid black;
  background-color: brown;
  color: white;
  text-align: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
}

#clickerBtn:hover {
  background-color: green;
}
