<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css">
    <title>All</title>
  </head>
  </head>
  {% if data['darkmode'] %} <body class="dark"> {% else %}
  <body>
    {% endif %} 
    <div>
      {% if not data.postList %}
      <h1>No posts yet!</h1>
      <a href="/posts"><button>Create Post</button></a>
      {% else %} {% for post in data.postList: %}
      <div>
        <h2><a href="/posts/{{post._id}}">{{post.title}}</a> - By {{post.author}}</h2>

        {% if post.imageUrl %}
        <img src="{{post.imageUrl}}" alt="" width="300" height="300" />
        {% endif %}
      </div>
      {% endfor %} {% endif %}
    </div>
    <a href="/"><button>Home</button></a>
  </body>
</html>
