<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/styles.css">
    <title>Create Post!</title>
  </head>
  {% if data['darkmode'] %} <body class="dark"> {% else %}
  <body>
    {% endif %} 
    <form action="/posts" method="POST" enctype="multipart/form-data">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
      </div>
      <div>
        <label for="text">Text:</label>
        <input type="text" name="text" id="text" />
      </div>
      <div>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" accept="image/*" />
      </div>
      <button>Publish!</button>
    </form>
    <a href="/"><button>Home</button></a>
  </body>
</html>
