<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{{data.title}}</title>
  </head>
  {% if data['darkmode'] %} <body class="dark"> {% else %}
  <body>
    {% endif %} 
    <h1>{{data.post.title}} - By {{data.post.author}}</h1>
    {% if data.imageUrl %}
    <img src="{{data.post.imageUrl}}" alt="" width="300" height="300" />
    {% endif %}
    <div>{{data.post.text}}</div>
    <a href="/"><button>Home</button></a>
  </body>
</html>
