<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register!</title>
  </head>
  <body>
    <h1>Hello! Please Register:</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form action="/register" method="POST">
      <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" autofocus />
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <h3>Password Requirements:</h3>
        <ul>
          <li>Password length must be at least 8 characters</li>
          <li>At least 1 lowercase letter</li>
          <li>At least 1 uppercase letter</li>
          <li>At least 1 number</li>
          <li>At least 1 special character ($, %, ? , !, etc.)</li>
        </ul>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
